
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
allure-report/
coverage/
reports/
screenshots/
videos/
trace/

.github/
.idea/
.vscode/
*.log
*.tmp
*.xml
*.json
*.html
*.zip
*.tar.gz


